
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .hero-card-transform {
    transform: rotateY(12deg) rotateX(6deg);
  }
  .hero-card-transform:hover {
    transform: rotateY(0deg) rotateX(0deg);
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
